
  
<%- include('../partials/header.ejs')%>
 
<section>
   
    <div class="cardrow">
      <%for (let key in items) {%>
    <div class="cardcolumn">
        <div class="card">
               <h3><%= key%></h3>
                <%let value = items[key];
                for (let i=0;i< value.length; i++){%>
                  <a href="/items/<%=value[i].id%>"><p><%=value[i].name%></p></a>
                <%}%>
        </div>
      </div>
      <%}%>
    </div>
  </section>

  
  <%- include('../partials/footer.ejs')%>

</body>

</html>

